{namespace lime.ASSETS.monster.plist}

/**
 * Generated with "bin/lime.py gensoy filepath"
 */
{template .data}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walking-e00 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}0,0{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-e00 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}32,0{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-e00 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}64,0{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-e00 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}96,0{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-e00 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}128,0{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-e00 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}160,0{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-n00 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}192,0{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-n00 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}0,32{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-n00 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}32,32{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-n00 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}64,32{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-n00 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}96,32{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-n00 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}128,32{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-ne00 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}160,32{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-ne00 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}192,32{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-ne00 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}0,64{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-ne00 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}32,64{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-ne00 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}64,64{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-ne00 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}96,64{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-nw00 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}128,64{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-nw00 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}160,64{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-nw00 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}192,64{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-nw00 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}0,96{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-nw00 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}32,96{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-nw00 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}64,96{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-s00 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}96,96{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-s00 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}128,96{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-s00 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}160,96{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-s00 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}192,96{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-s00 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}0,128{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-s00 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}32,128{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-se00 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}64,128{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-se00 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}96,128{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-se00 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}128,128{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-se00 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}160,128{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-se00 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}192,128{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-se00 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}0,160{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-sw00 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}32,160{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-sw00 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}64,160{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-sw00 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}96,160{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-sw00 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}128,160{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-sw00 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}160,160{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-sw00 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}192,160{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-w00 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}0,192{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-w00 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}32,192{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-w00 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}64,192{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-w00 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}96,192{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-w00 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}128,192{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walking-w00 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,32{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,32{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}160,192{rb},{lb}32,32{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{lb}224,224{rb}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d43ac8aa293e9774e3737a6353e9bf73:91f8dd614d8cedcc78ef8c16c7790f08:a6ae2b9304b7a9e734cf6a25f3604866$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>

{/template}
