{namespace lime.ASSETS.monster.plist}

/**
 * Generated with "bin/lime.py gensoy filepath"
 */
{template .data}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}30,81{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}30,81{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}0,0{rb},{lb}30,81{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,86{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,86{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}30,0{rb},{lb}32,86{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}30,82{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}30,82{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}62,0{rb},{lb}30,82{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}30,79{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}30,79{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}92,0{rb},{lb}30,79{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,86{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,86{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}122,0{rb},{lb}32,86{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}30,81{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}30,81{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}154,0{rb},{lb}30,81{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}31,80{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}31,80{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}184,0{rb},{lb}31,80{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,80{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,80{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}215,0{rb},{lb}32,80{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,84{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,84{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}247,0{rb},{lb}32,84{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,81{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,81{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}279,0{rb},{lb}32,81{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,82{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,82{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}311,0{rb},{lb}32,82{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,84{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,84{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}343,0{rb},{lb}32,84{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,81{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,81{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}375,0{rb},{lb}32,81{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}32,80{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}32,80{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}407,0{rb},{lb}32,80{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}28,85{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}28,85{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}439,0{rb},{lb}28,85{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}33,80{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}33,80{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}467,0{rb},{lb}33,80{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}35,78{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}35,78{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}500,0{rb},{lb}35,78{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}27,82{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}27,82{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}535,0{rb},{lb}27,82{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}34,78{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}34,78{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}562,0{rb},{lb}34,78{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}33,80{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}33,80{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}596,0{rb},{lb}33,80{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}27,83{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}27,83{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}629,0{rb},{lb}27,83{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}28,86{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}28,86{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}656,0{rb},{lb}28,86{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}33,81{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}33,81{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}684,0{rb},{lb}33,81{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}36,78{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}36,78{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}717,0{rb},{lb}36,78{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}27,83{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}27,83{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}753,0{rb},{lb}27,83{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}34,80{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}34,80{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}780,0{rb},{lb}34,80{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}33,81{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}33,81{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}814,0{rb},{lb}33,81{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{lb}0,0{rb}</string>
                <key>spriteSize</key>
                <string>{lb}27,83{rb}</string>
                <key>spriteSourceSize</key>
                <string>{lb}27,83{rb}</string>
                <key>textureRect</key>
                <string>{lb}{lb}847,0{rb},{lb}27,83{rb}{rb}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{lb}874,86{rb}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce77970f1de263628c0c8f7c590e5fd5:0e1569d9bef351a47157057dbecc5955:6332590e9a43fdc076f2aca8e9a97f87$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>

{/template}
